*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-f .img{
    width: 600px;
    /* al final le pongo 100% al height */
    height: 100%;
    /* background: rgb(98, 102, 151); */
}

.caja-f .img img {
    width: 100%;
}
/* conectada con .caja-f .img*/
.caja-f .info{
    width: 600px;
    padding: 50px;
    text-align: justify;
}

.caja-f .btn-cerrar{
    display: block;
    width: 90px;
    text-align: center;
    padding: 10px;
    color:  rgb(46, 47, 48);
    border: 3px solid rgb(63, 63, 63);
    border-radius: 70px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}
.caja-f .btn-cerrar:hover{
    box-shadow:14px 12px 8px 0px rgba(58, 43, 43, 0.79);
    /* relleno de x */
    background-color: rgb(0, 0, 0);
    /* color de X */
    color: #fff;
}
.arriba {
    position: fixed;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    background-color: rgb(166, 226, 226);
    top: 0;
    transition: 1s;
}

.abajo{
    position: fixed;
    width: 100%;
    height: 0vh;
    overflow: hidden;
    background-color: #90ee90;
    bottom: 0;
    transition: 1s;
}

.izquierda{
    position: fixed;
    width: 0px;
    height: 94vh;
    overflow: hidden;
    background-color: rgb(160, 160, 165);
    left: 0;
    transition: 1s;
}

.derecha{
    position: fixed;
    width: 0px;
    height: 94vh;
    overflow: hidden;
    background-color: #7fffd4;
    right: 0;
    transition: 1s;
}

.mapa{
    width: 50%;
    height: 100%;
    /* cambiar color */
    background-color: #fff;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
p {
    font-size: 25px;
}
 
br{
    font-size: 25px;
}
.seccion{
    width: 100%;
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}   

.seccion h2{
    cursor: pointer;
    color: #0091ea;
    font-weight: bold;
    font-size: 30px;
    transition: .5s;
}

.seccion h2:hover{
    text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.842);
}

.centro{
    justify-content: space-between;
}

.js{
    width: 200px;
    height: 200px;
    background-color: rgb(219, 177, 100);
}

.js img{
    width: 110%;
}